In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Student-University.csv',names=['marks1', 'marks2', 'admitted'])
data.head()

      marks1     marks2  admitted
0  34.623660  78.024693         0
1  30.286711  43.894998         0
2  35.847409  72.902198         0
3  60.182599  86.308552         1
4  79.032736  75.344376         1

logistic regression = 1/(1+e^(-y))

y = b0 + b1x1 + b2x2

b = b + alpha * (y – y1) * y1 * (1 – y1) * x

In [3]:
X = data[['marks1','marks2']]
y = data['admitted']

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0 )
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((80, 2), (20, 2), (80,), (20,))

In [5]:
b0, b1, b2 = 0.5, 0.6, 0.001
alpha = 0.01
epochs  = 10000

x1_train = X_train.marks1.tolist()
x2_train = X_train.marks2.tolist()
y_train = y_train.tolist()

In [6]:
type(x1_train), type(y_train)

(list, list)

In [7]:
for epoch in range(epochs):
    for i in range(80):
        eq = b0 + (b1 * x1_train[i]) + (b2 * x2_train[i])
        yhat = 1 / (1 + np.exp(-eq))
        b0 = b0 + alpha * (y_train[i] - yhat) * yhat * (1 - yhat) * 1.0
        b1 = b1 + alpha * (y_train[i] - yhat) * yhat * (1 - yhat) * x1_train[i]
        b2 = b2 + alpha * (y_train[i] - yhat) * yhat * (1 - yhat) * x2_train[i]

In [8]:
b0,b1,b2

(0.4999977258552023, 0.5999291355477447, 0.0008772854577936603)

In [9]:
x1_test = X_test.marks1.tolist()
x2_test = X_test.marks2.tolist()
y_test = y_test.tolist()

In [10]:
y_pred = []

In [11]:
for i in range(20):
    eq = b0 + (b1 * x1_test[i]) + (b2 * x2_test[i])
    yhat = 1 / (1 + np.exp(-eq))
    y_pred.append(yhat)

In [12]:
y_pred

[1.0,
 0.9999999999938309,
 0.999999999739875,
 0.9999999999999307,
 1.0,
 1.0,
 1.0,
 1.0,
 0.999999999999954,
 1.0,
 0.9999999994184035,
 0.999999999999998,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9999999999999605,
 1.0,
 0.9999999999999842,
 1.0]